@import 'nib'

c-mid = #FF793D
c-dark = #932E00
lil-border = 3px

html, body
  margin 20px

body
  font: 16px/1.7 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color c-mid
  color: c-dark

input[type='text']
  font-size: 1em
  font-weight: bold

  padding: 0.5em;

  border: lil-border solid
  color: c-dark
