@import 'global'

.btn
  display: block
  -webkit-appearance: none
  width: 100%
  box-sizing: border-box

  cursor: pointer

  padding: sp

  font-weight: bold;
  text-transform: uppercase
  letter-spacing: 0.05em

  border: border_sm solid c-dark

  background-color: c-dark
  color: white

  // transition focus
  transition: all quick

  transform: translate3d(0, 0, 0)

  outline: none

  &:focus
    box-shadow: 0 0 0 border_lg c-light

  &.inline
    display: inline-block
    width: auto

  &.sm
    padding: sp_sm

  &.xs
    padding: sp_sm
    font-size: 0.8em

  &[disabled]
    cursor: default;
    opacity: 0.5
    background: transparent
    color: c-dark
    border: border_sm solid c-dark

  &.positive
    background: c-positive
    border-color: c-positive
    color: white

  &.negative
    background: c-negative
    border-color: c-negative
    color: white

  &.alt
    background: transparent
    color: c-dark
    border: border_sm solid c-dark

