font-stack = 'Helvetica Neue', Helvetica, Arial, sans-serif

c-mid = #FF793D
c-dark = #932E00
c-light = #FFB797
c-positive = #557500
c-negative = #C50716

sp = 0.7rem
sp_sm = 0.3rem
sp_lg = 1.4rem

border_sm = 3px
border_lg = 5px

quick = 0.2s
