@import 'global'

input[type='text']
  display: block

  font-size: 1em

  font-weight: bold

  padding: sp;

  border: border_sm solid
  color: c-dark

  width: 100%
  box-sizing: border-box

  font-family: font-stack

  // transition focus
  transition: box-shadow 0.2s

  outline: none
  &:focus
    box-shadow: 0 0 0 border_lg c-light

::-webkit-input-placeholder
  placeholder-styles()
::-moz-placeholder
  placeholder-styles()
:-ms-input-placeholder
  placeholder-styles()
input:-moz-placeholder
  placeholder-styles()
