@import 'global'

margin = 2%

.page
  width: 95%
  max-width: 40em
  margin: sp auto

.half
  width: 50%
  float: left

.l
  float: left

.r
  float: right

.l-half
  width: 50%
  float: left

  &.with-margin
    width:  (50% - margin)
    &:nth-child(even)
      float: right

  &:nth-child(odd)
    clear: both
