@import 'global'

*
  outline: none
  &:focus
    box-shadow: 0 0 0 border_lg c-light

html, body
  margin 20px

body
  font: 16px/1.7 font-stack
  background-color c-mid
  color: c-dark

h1, h2, h3
  font-size: 1em
  font-weight: normal
  margin: 0

button
  font: 1em font-stack
