@import 'global'

.sp
  margin-bottom: sp

.sp_sm
  margin-bottom: sp_sm

.sp_lg
  margin-bottom: sp_lg

.sp_top
  margin-top: sp

.sp_top_lg
  margin-top: sp_lg

.pad
  padding: sp

.pad_top_sm
  padding-top: sp_sm

.float-clear
  width: 100%
  float: left

.clearfix
  clearfix()

.faded
  opacity: 0.2

.quick-transition
  transition: all quick
