<p>box Template</p>
{{#each links}}
  <div><a {{bind-attr href=absoluteUrl }}>{{ name }}</a></div>
{{/each}}
<form>
  {{input type='text' value=name}}
  {{input type='text' value=url}}
  <button>Submit</button>
</form>
