<p>box Template</p>
{{#each notDeletedLinks}}
  {{render 'link' this}}
{{/each}}
<form>
  {{input type='text' value=name}}
  {{input type='text' value=url}}
  <button>Submit</button>
</form>

<button {{action 'emptyTrash'}}>Empty Trash</button>
